:root{
    --pink:#e84393;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    /* overflow: hidden; */
}
header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    padding: 2rem 8%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* opacity: 90%; */
    /* color: white; */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .beauty_name{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
header .beauty_name span{
    color: var(--pink);
}
header .navigator a{
    font-size: 2rem;
    padding: 0 0.5rem;
    color: #666;
}
header .navigator a:hover{
    color:var(--pink);
}
header .nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}

.navigator .icons{
    display: none;
}

@media(max-width: 700px){
    header .beauty_name{
        font-size: 20px;
    }
    header .navigator a{
        font-size: 15px;
        padding: 0 5px;
        color: #333;
    }
    header .nav ul li{
        display: block;
        padding-bottom: 30px;
    }
    .nav ul{
        padding: 30px;
    }
    header .nav{
        position: absolute;
        background: #fff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

    }
    .navigator .icons{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}





        /* TO BE WORKED ON */

/* header #toggler{
    display: none;
}
header .far-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
} */

section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(images/Backg1.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p{
    font-size: 3.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 1.5;
}
.click{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.7rem;
}
.click:hover{
    background: var(--pink);
}

@media(max-width: 700px){
    .home{
        min-height: 70vh;
        background: url(images/Backg12.png) no-repeat;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
    }
    .home .content h3{
        font-size: 30px;
    }
    .home .content span{
        font-size: 25px;
    }
    .home .content p{
        font-size: 20px;
        width: 50%;
    }
    .click{
        display: inline-block;
        margin-top: 1rem;
        border-radius: 5rem;
        padding: 10px 3.5rem;
        cursor: pointer;
        font-size: 15px;
    }
}






                                    /* About section  */
.about{
    justify-content: center;
    display: flex;
    position: relative;
}

.about h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}
.about span{
    color:var(--pink);
}
.about .container{
    text-align: center;
    width: 500px;

}
.about .container p{
    color: #333;
    font-size: 20px;

}
.about .click{
    height: 20px;
    padding-top: 10px;
}
@media(max-width: 700px){
    .about h1{
        text-align: center;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .about .container{
        width: 100%;
    }
    .about .container p{
        font-size: 16px;
    }
    .about .click{
        height: 30px;
        padding-top: 5px;
    }
}



                                         /* Services */
.services{
    justify-content: center;
    /* display: flex; */
    position: relative;
}
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 11rem;
}
.services h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}
.services span{
    color:var(--pink);
}
.services .box-container .box{
    flex: 1 1 30rem;
    /* box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1); */
    /* border-radius: .5rem; */
    /* border: 1rem solid rgba(0, 0, 0, .1); */
}
.services .box-container .box .lessons{
    text-align: center;
    /* position: absolute; */
    /* top: 1rem; */
    /* left: 1rem; */
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153,.05);
    /* z-index: 1; */
}
.services .box-container .box .image{
    position: relative;
    text-align: center;
    /* padding-top: 2rem; */
    overflow: hidden;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    /* border-radius: .5rem; */
    border: 1rem solid rgba(0, 0, 0, .1);
    
}
.services .image0{
    height: 30rem;
    background: url(images/learn.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.services .image1{
    height: 30rem;
    background: url(images/prod.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.services .image2{
    height: 30rem;
    background: url(images/bride.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.services .image3{
    height: 30rem;
    background: url(images/Nails.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.services .image4{
    height: 30rem;
    background: url(images/HAir.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.services .image5{
    height: 30rem;
    background: url(images/Products\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.services .box-container .box .image img{
    height: 30rem;
    /* transform: scale(1.1); */
}
/* .services .box-container .box:hover .image img{
    transform: scale(1.1);
} */
.services .box-container .box .caption{
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* display: flex; */
    height: 200px;
    /* background: rgba(0, 0, 0, .1); */
    padding-top: 20px;
    text-align: center;
}
.services .box-container .box .caption p{
    /* height: 5rem; */
    /* line-height: 5rem; */
    font-size: 2rem;
    /* width: 50%; */
    color: #333;
}
.services .btn{
    border-radius: 5rem;
    background: #333;
    padding: 2rem 1.5rem;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin: auto;
}
.services .btn:hover{
    background: var(--pink);
}
.services .btn a{
    color: #fff;
    font-size: 1.7rem;

}

@media(max-width: 700px){
    .services .box-container{
        gap: 1.5rem;
    }
    .services h1{
        text-align: center;
        font-size: 30px;
    }
    .services .box-container .box{
        flex: 1 1 30rem;
    }
    .services .box-container .box .lessons{
        text-align: center;
        /* position: absolute; */
        /* top: 1rem; */
        /* left: 1rem; */
        padding: .7rem 1rem;
        font-size: 20px;
        /* z-index: 1; */
    }
    .services .box-container .box .image{
        position: relative;
        text-align: center;
    }
    .services .box-container .box .image img{
        height: 20rem;
        /* transform: scale(1.1); */
    }

    .services .box-container .box .caption{
        /* position: absolute; */
        /* bottom: 0; */
        /* left: 0; */
        /* right: 0; */
        /* display: flex; */
        height: 150px;
        /* background: rgba(0, 0, 0, .1); */
        padding-top: 10px;
        text-align: center;
    }
    .services .box-container .box .caption p{
        /* height: 5rem; */
        /* line-height: 5rem; */
        font-size: 16px;
        /* width: 50%; */
    }
    .services .btn{
        border-radius: 5rem;
        padding: 10px 3px;
        cursor: pointer;
        margin-bottom: 50px;
    }
    .services .box .btn a{
        font-size: 1.7rem;
    }
    
}

    /* Contact section  */
.contact h1{
    text-align: center;
    font-size: 50px;
    padding-top: 90px;
    padding-bottom: 40px;
}
.contact h1 span{
    color: #e84393;
}
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
    /* height: 300px; */

}
.contact .row .contact-col1{
    flex: 1 1 40rem;
}
.contact .row .contact-col{
    /* height: 300px; */
    flex: 1 1 40rem;
    width: 100%;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem 2.5rem;


}
.contact-col div{
    /* display: flex; */
    align-items: center;
    margin-bottom: 40px;
    /* margin-top: 40px; */
}
.contact-col div p{
    /* padding: 0; */
    font-size: 16px;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 3px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: var(--pink);
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.contact-col1 .my-btn .send-btn{
    height: 40px;
    width: 200px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    font-size: 16px;
}
.contact-col1 .my-btn .send-btn:hover{
    background-color: var(--pink);
}

@media(max-width: 700px){
    .contact h1{
        font-size: 30px;
        padding-top: 90px;
        padding-bottom: 40px;
    }
 
    .contact .row{
        gap: 1.5rem;
    }
    .contact .row form{
        border: 5px solid rgba(0, 0, 0, .1);
    }
    .contact .row .contact-col{
        border: 5px solid rgba(0, 0, 0, .1);
    }
    .contact .row form .box{
        padding: 1rem;
        font-size: 16px;
        margin: .7rem 0;
    }
    .contact .row form textarea{
        height: 15rem;
    }
    .contact-col div p{
        font-size: 12px;
    }
    .contact-col div h5{
        font-size: 16px;
    }
}
@media(max-width: 400px){
    
    .contact-col div p{
        font-size: 12px;
    }
    .contact-col div h5{
        font-size: 12px;
    }
}

/* footer */
.footer .box-container{
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    text-align: center;
}
.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
    padding-top: 40px;
}
.footer .box-container .box a{
    /* display: inline-block; */
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
    padding-left: 20px;
}
.footer .box-container .box p{
    /* display: inline-block; */
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
    padding-left: 20px;
}
.footer .box-container .box a img{
    padding-top: 5px;
}
.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 12px;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
.footer .credit span{
    color: var(--pink);
}
@media(max-width: 500px){
    .footer .box-container .box h3{
        color: #333;
        font-size: 20px;
        padding: 1rem 0;
        padding-top: 40px;
    }
    .footer .box-container .box a img{
        height: 20px;
    }
    .footer .box-container .box a{
        padding-left: 10px;
        font-size: 1rem;

    }
    
}

/* ----------------- Success Page -------------------  */

.my-body{
    height: 550px;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--pink);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}




                /* ------------------- Products & Services ------------------ */
.prod_services{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/learn.jpg);
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.prod_services .content{
    width: 100%;
}
.prod_services .content{
    max-width: 100%;
    text-align: center;
}
.prod_services .content h3{
    font-size: 6rem;
    color: #fff;
}
.prod_services .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.prod_services .content p{
    font-size: 3.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 1.5;
}


                /* -------------------- Our Services ------------------- */

.services .list{
    display: flex;
    justify-content: space-between;
}
.services .list .col{
    flex-basis: 46%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.services .list .col1{
    width: 100%;
}
.services .list table{
    width: 100%;
}
.services .list .col h2{
    font-size: 25px;
    text-align: center;
}
.services .list .col h3{
    font-size: 20px;
    padding-top: 15px;
}
.services .list .col td{
    font-size: 18px;
    width: 50%;
    padding-bottom: 10px;
}
.services .list .col .right{
    padding-left: 30%;
}

@media (max-width:700px) {
    .services .list{
        flex-direction: column;
    }   
}